body{
  background-image: url("/static/front/images/bg.jpg");
}

#navbar {
  padding-left: 5%;
  padding-right: 5%;
}

#map_container {
  aspect-ratio : 1 / 1;
  width:100%;
  margin-left: auto;
  margin-right: auto;   
  
}

#map{
  width:100%;
  margin-left: auto;
  margin-right: auto;   
  
}

.notclickable{


  fill-opacity: 1;

}

.clickable{
  fill-opacity: 0;
  fill: blue;
  cursor: pointer;
}

