body{
  background-image: url("/static/front/images/bg.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
  margin-top: auto;
}

#navbar {
  padding-left: 5%;
  padding-right: 5%;
}

#map_container {
  aspect-ratio : 1 / 1;
  width:100%;
  margin-left: auto;
  margin-right: auto;   
  
}

#map{
  width:100%;
  margin-left: auto;
  margin-right: auto;   
  
}

.notclickable{


  fill-opacity: 1;

}

.clickable{
  fill-opacity: 0;
  fill: blue;
  cursor: pointer;
}

.card_bottom {
  position: relative;
}

.card_bottom span {
  position: absolute;
  bottom: 0;
  right: auto;
  left:auto;
  font-size: x-small;
  font-weight: 300;
 
}

.non_decorative_link a {
  text-decoration: none;
  color:black;
}

.food .card, .food .list-group-item{
  background-color: rgb(34, 204, 34);
}
.food h1 {
  color: rgb(34, 204, 34);
}


.clothes .card, .clothes .list-group-item{
  background-color: aquamarine;
}
.clothes h1 {
  color: black;
}


.stoisko-container img {

  margin: auto;    
  display: block;
}

.rating-title{
  text-align: center;
  font-weight: 200;
  font-size: small;
}

.border-dark{
  border-style: solid;
  border-width: 1px;
  padding-bottom: 1rem;
}

.my-title{
  font-size:large;
  font-weight: bold;
  margin-top: 1rem;
}
.my-description{
  font-size: medium !important; 
  font-weight: 400 !important;
  
}


/* KOMENTARZE  */

.bdge {
  height: 21px;
  background-color: orange;
  color: #fff;
  font-size: 11px;
  padding: 8px;
  border-radius: 4px;
  line-height: 3px;
}

.comments {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.dot {
  height: 7px;
  width: 7px;
  margin-top: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.hit-voting:hover {
  color: blue;
}

.hit-voting {
  cursor: pointer;
}

/* KOMENTARZE  */

@media (min-width: 1000px) {
  .less-wide{
      max-width: 920px;
  }
}