{% extends 'master.html' %}
{% load static %}
{%block mainblock %}
<div class = "container">
    <div class = "row justify-content-center">
        <div class = "col-6">
            <img src = "{%static 'front/images/napis_targi.png' %}" width = 100%>

            <div class = "row">
              <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Wyszukiwarka</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">Wyszukaj interesujący cię produkt</div>
                </div>
                <button type="submit" class="btn btn-primary">Szukaj</button>
              </form>
            



        </div>
    </div>
          <!-- Mapa targowiska -->
    <div class = "row justify-content-center">
      <div class = "col-12">

          <object type="image/svg+xml" data="{%static 'front/images/Manipulate.svg' %}" id = "map">
            Kiwi Logo <!-- fallback image in CSS -->
          </object>

      </div>
    </div>
  </div>
</div>

{% endblock %}