{% extends 'master.html' %}
{% load static %}
{% block mainblock %}
    <br>
    <div class = "container">
        <div class = "row justify-content-center">
            <div class = "col-6">
                <img src = "{%static 'front/images/napis_targi.png' %}" width = 100%>
    
                <div class = "row">
                  <form method = POST action = "{% url 'wyszukaj' %}"> {% csrf_token %}
                    <div class="mb-3">
                      <label for="search-box" class="form-label">Wyszukiwarka</label>
                      <input type="text" class="form-control" id="search-box" name = "zapytanie">
                      <div id="search-box" class="form-text">Wyszukaj interesujący cię produkt</div>
                    </div>
    
                    <button type = "submit" class="btn btn-primary">Szukaj</button>
    
                  </form>
                
    
    
    
                 </div>
            </div>
        </div>
    </div>
    {% if stoiska_zywnosc %}
    <div class = "container food">

        <h1 style="text-align:center ;"> Żywność </h1>

        
        <div class = "row justify-content-center">
           
            {% for stoisko in stoiska_zywnosc %}


                <div class="card non_decorative_link" style="width: 18rem; margin-right: 2rem;">
                    <a href = "{% url 'stoisko' stoisko.id %}">
                        <img class="card-img-top" src="{% get_media_prefix %}{{stoisko.zdjecie}}" alt="Card image cap"/> 
                        <div class="card-body">
                        <h5 class="card-title" style = "white-space: nowrap;">{{stoisko}} 
                            <span class="ms-1 fa fa-star {% if stoisko.srednia_ocena > 0 %} checked {% endif %}"></span>
                            <span class="ms-1 fa fa-star {% if stoisko.srednia_ocena > 1 %} checked {% endif %}"></span>
                            <span class="ms-1 fa fa-star {% if stoisko.srednia_ocena > 2 %} checked {% endif %}"></span>
                            <span class="ms-1 fa fa-star {% if stoisko.srednia_ocena > 3 %} checked {% endif %}" ></span>
                            <span class="ms-1 fa fa-star {% if stoisko.srednia_ocena > 4 %} checked {% endif %}"></span>
                        </h5>
                        <p class="card-text">{{stoisko.krotki_opis}}</p>
                        </div>
                        <br>
                        <hx><strong>Nasze produkty</strong></hx>

                        <ul class="list-group list-group-flush">
                            {% for produkt in stoisko.produkt_set.all %}
                                <li class="list-group-item">{{produkt.nazwa_produktu}}</li>
                                
                            {% endfor %}
                        </ul>
                    </a>    

                </div>
            {% if forloop.counter|divisibleby:"3" %}
                <div class="w-100"></div>
                <br>
            {% endif %}
            
            {% endfor %}
            
            

         </div>
    </div>
    {%endif %}
<br>
    {% if stoiska_ciuchy %}
    <div class = "container clothes">    
        <div class = "row justify-content-center ">
            <h1 style="text-align:center;"> Ciuchy </h1>
            {% for stoisko in stoiska_ciuchy %}
                <div class="card non_decorative_link" style="width: 18rem; margin-right: 2rem;">
                    <a href = "{% url 'stoisko' stoisko.id %}">
                        <img class="card-img-top" src="{% get_media_prefix %}{{stoisko.zdjecie}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" style = "white-space: nowrap;">{{stoisko}} 
                                <span class="ms-1 fa fa-star {% if stoisko.srednia_ocena > 0 %} checked {% endif %}"></span>
                                <span class="ms-1 fa fa-star {% if stoisko.srednia_ocena > 1 %} checked {% endif %}"></span>
                                <span class="ms-1 fa fa-star {% if stoisko.srednia_ocena > 2 %} checked {% endif %}"></span>
                                <span class="ms-1 fa fa-star {% if stoisko.srednia_ocena > 3 %} checked {% endif %}" ></span>
                                <span class="ms-1 fa fa-star {% if stoisko.srednia_ocena > 4 %} checked {% endif %}"></span>
                            </h5>
                        <p class="card-text">{{stoisko.krotki_opis}}</p>
                        </div>
                        <br>
                        <hx><strong>Nasze produkty</strong></hx>
                        <ul class="list-group list-group-flush">
                            {% for produkt in stoisko.produkt_set.all %}
                            <li class="list-group-item">{{produkt.nazwa_produktu}}</li>
                                
                            {% endfor %}
                        </ul>
                    </a>    
                </div>

                {% if forloop.counter|divisibleby:"3" %}
                    <div class="w-100"></div>
                    <br>
                {% endif %}
                
            {% endfor %}
            </div>

        </div>    
    </div>

{% endif %}
{% endblock %}