{% extends 'master.html' %}
{% load static %}
{% block mainblock %}

<head>
    <link href= '{%static "front/css/rejestracja.css" %}' rel="stylesheet">
</head>

<div class="d-flex justify-content-center align-items-center mt-5">


    <div class="card">

          
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="użytkownik-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">


                <div class="form px-4 pt-5">
  
                  <input type="text" name="" class="form-control" placeholder="Nazwa użytkownika">
  
                  <input type="text" name="" class="form-control" placeholder="Adres e-mail">
                  
                  <input type="text" name="" class="form-control" placeholder="Hasło">
  
                  
                  <button class="btn btn-dark btn-block">Zaloguj się</button>
  
                </div>
  
            </div>

          </div>


    </div>
    

  </div>






  {% endblock %}